# git
*
!.gitignore
!.gitconfig

# doc
!README.md

# system
!.xinitrc
!.Xresources
!.zshrc
!.oh-my-zsh/

# config
!.config/
!.config/i3/
!.config/i3/**
!.config/polybar/
!.config/polybar/**
!.config/ranger/
!.config/ranger/**
!.config/compton.conf

